@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
}

body {
  margin: 0;
}

.toggle {
  width: 60px;
  height: 30px;
  background-color: #333;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle::before {
  content: "";
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
}

.toggle.dark {
  background-color: #bbb;
}

.toggle.dark::before {
  transform: translateX(30px);
  background-color: #f0f0f0;
}

.swiper {
  width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  flex: 0 0 auto;
  width: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
  background-color: #f9fafb;
  border-radius: 12px;
}

.card h1,
.card h2,
.card p {
  margin: 0;
  padding: 0;
}

.card h2 {
  font-size: 1.3rem;
  color: #333;
}

.card p {
  color: #666;
  line-height: 1.6;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.icon-slider-swiper {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
}

.icon-slider-swiper .swiper-wrapper {
  display: flex;
  align-items: center;
}

.icon-slider-swiper .swiper-slide {
  flex-shrink: 0;
  width: auto;
  text-align: center;
}

.icon-slider-swiper .swiper-slide img {
  @apply w-24 h-24 object-contain transition ease-in-out duration-300;
}

.dark .icon-slider-swiper .swiper-slide img {
  @apply grayscale;
}

.dark .icon-slider-swiper .swiper-slide img:hover {
  @apply grayscale-0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    360deg,
    rgba(16, 16, 16, 1) 0%,
    rgba(21, 153, 57, 1) 50%,
    rgba(59, 190, 239, 1) 100%
  );
}
